* {
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
i {
    font-style: normal;
}
a {
    text-decoration: none;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.clearfix::before,
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
.main {
    width: 100%;
    height: 5rem;
    background: linear-gradient(to right,black ,#0ad36f);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 3rem;
}
.left-main-box {
    height: 1rem;
    width: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.catalogue,.catalogue-small {
    width: 100%;
    position: absolute;
    top: 5rem;
    background: linear-gradient(to right,black ,#0ad36f);
    z-index: 9999;
    display: none;
}
/*.left-main:hover .catalogue {
    display: block;
}*/
.logo {
    display: flex;
    flex-direction: column;
}
.logo div {
    font-size: 0.5rem;
}
.top-banner,
.middle-banner,.bottom-banner {
    width: 100%;
}

/* aboutme small start */
.aboutmecontent {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.aboutmecontent table {
    font-size: 0.8rem;
    border-collapse: collapse;
}
.aboutmecontent td {
    height: 2rem;
    font-family: noto sans jp, noto sans sc, sans-serif;
    text-align: center;
    padding: 0 0.5rem;
}
.aboutmephoto {
    width: 100%;
    height: 30rem;
    background-color: purple;
}
.aboutmephoto>img {
    width: 100%;
    height: 100%;
}
/* aboutme small end */

/* myresearch small start */
.myresearchcontent {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.researchtext {
    width: 100%;
    font-size: 0.7rem;
}
.text {
    width: 100%;
    text-indent: 1rem;
    font-family: noto sans jp, noto sans sc, sans-serif;
    text-align:justify;
}
.myresearchphoto {
    width: 100%;
    height: 15rem;
    background-color: #fff;
    margin: 1rem 0;
}
.myresearchphoto img {
    width: 18rem;
}
/* myresearch small start */

/* myhobby small start */
.myhobby-logo {
    width: 100%;
    height: 3rem;
    text-align: center;
    margin: 1rem 0;
}
.myhobby-logo>img {
    height: 100%;
}
.myidol-summary {
    width: 100%;
    height: 25rem;
    /* background-color: purple; */
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
}
.myhobby-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.myhobby-content button {
    border:none;
    width: 4rem;
    height: 4rem;
    background-color: rgb(37, 36, 36,.5);
}
.myhobby-content button img {
    width: 100%;
    height: 100%;
}
.button-clicked {
    /* background-image: url('../img/collection.png'); */
    background:radial-gradient( #69e0ff , rgb(37, 36, 36,.5));
}
.myhobby-contentpicture {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left-arrow,.right-arrow {
    border: none;
    font-family: 'icomoon';
    width:3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    text-indent: 0.5rem;
    color: #fff;
    text-shadow: 0 0 10px #69e0ff;
    background-color: rgb(27, 27, 27);
}
.right-arrow {
    text-indent: -0.5rem;
}
.picture-container {
    position: relative;
    width: 20rem;
    height: 15rem;
    overflow: hidden;
    margin: 1rem;
}
.myhobbypicture {
    position: absolute;
    width:140rem;
    left: -20rem;
}
.myhobbypicture li {
    float: left; 
    width: 20rem;
    height: 15rem;
    background-color: aqua;
}
.myhobbypicture img {
    width: 100%;
    height: 100%;
}
/* myhobby small end */

/* myidol small start */
.myidol-summary {
    width: 100%;
    height: 30rem;
    /* background-color: purple; */
    display: flex;
    flex-flow:column nowrap;
}
.myidol-text {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    line-height: 1.5;
    text-indent: 1rem;
}
.myidol-mascot {
    width: 100%;
    height: 30rem;
    background: url('../img/myidol-mascot.png') no-repeat;
    background-size: 100% auto;
}
.myidol-main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.idolQ {
    width: 3rem;
    /* height: 5rem; */
}
.idolQ img {
    width: 100%;
    vertical-align: middle;
    border-radius: 2.5rem;
}
.idolcontent {
    /* width: 20rem; */
    /* height: 14.5rem; */
    background-image: url('../upload/ava-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* background-position: right bottom;  */
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
    cursor: pointer;
}
.idol-table {
    font-size: 0.8rem;
    border-collapse: collapse;
    display: none;
}
.ava-table {
    display: block;
    background-position: right bottom;
}
.idol-table tr>td:last-child {
    font-weight: bold;
}
.idol-table td {
    height: 1.5rem;
    padding: 0 0.8rem;
    font-family: noto sans jp,noto sans sc,sans-serif;
}
.idol-table tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, .2);
}
.active {
    flex:1;
}
.bella-back {
    background-image: url('../upload/bella-back.jpg');
}
.carol-back {
    background-image: url('../upload/carol-back.jpg');
}
.diana-back {
    background-image: url('../upload/diana-back.jpg');
}
.eileen-back {
    background-image: url('../upload/eileen-back.jpg');
}
/* myidol small end */